<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NewConsolidado.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <NewConsolidado.Properties.Settings>
            <setting name="usrAppWindowEstado" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="usrAppAncho" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="usrAppAlto" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="usrAppIzquierda" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="usrAppTop" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="myLog4NetDestino" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="usrRutaArchivos" serializeAs="String">
                <value />
            </setting>
            <setting name="usrMuestraToolbar" serializeAs="String">
                <value>ImageAndText</value>
            </setting>
            <setting name="usrDiseñoToolbar" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="myLog4NetNivel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="usrUsuarioWindows" serializeAs="String">
                <value />
            </setting>
            <setting name="usrDiseñoBotones" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="usrMuestraCamposOcultos" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="usrMuestraColumnasOcultas" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="usrPreguntarAlSalir" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="usrLibrosReporte" serializeAs="String">
                <value>REAL,NOLOB,IFRS</value>
            </setting>
            <setting name="usrPreguntaEliminar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="usrPreguntaFormulariosSalir" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="frmMantenedorConsolidado" serializeAs="String">
                <value>5, 5</value>
            </setting>
            <setting name="frmMantenedorConsolidadoEstado" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="usrRecorarPosicionFormularios" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="frmIngresoAjustesManuales" serializeAs="String">
                <value>5, 5</value>
            </setting>
            <setting name="frmIngresoAjustesManualesEstado" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="frmMantenedorConsolidadoAlto" serializeAs="String">
                <value>523</value>
            </setting>
            <setting name="frmMantenedorConsolidadoAncho" serializeAs="String">
                <value>782</value>
            </setting>
            <setting name="usrUsuarioTipo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="usrRutaArchivosLog" serializeAs="String">
                <value />
            </setting>
            <setting name="usrRutaArchivosPaso" serializeAs="String">
                <value />
            </setting>
            <setting name="strConnSource" serializeAs="String">
                <value />
            </setting>
            <setting name="strConnCatalog" serializeAs="String">
                <value />
            </setting>
            <setting name="strConnUser" serializeAs="String">
                <value />
            </setting>
            <setting name="strConnPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="appTituloAplicacion" serializeAs="String">
                <value>Consolidación de Empresas Relacionadas</value>
            </setting>
        </NewConsolidado.Properties.Settings>
    </userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
